@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: #000000;
  color: #FFFFFF;
}

.svg-full svg {
  width: 100%;
  height: 100%;
}

ul {
  padding-inline-start: 20px;
}

a {
  text-decoration: underline;
}

p {
  margin-bottom: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #1e1e1e;
}

th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #1e1e1e;
}

td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #1e1e1e;
}

* {
  box-sizing: border-box;
}

.min-h-100lvh {
  min-height: 100vh;
}

@supports (min-height: 100lvh) {
  .min-h-100lvh {
    min-height: 100lvh;
  }
}

.h-100svh {
  height: 100vh;
}

@supports (height: 100svh) {
  .h-100svh {
    height: 100svh;
  }
}